stages:
  - build
  - test
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  DEPLOY_SERVER: "3.101.190.84"
  DEPLOY_USER: "ec2-user"
  GIT_STRATEGY: "none"

cache:
  paths:
    - .m2/repository

# Git setup for hostname resolution
.setup_git: &setup_git
  before_script:
    - echo "3.101.190.84 bb6f8136416e" >> C:\Windows\System32\drivers\etc\hosts
    - git config --global url."http://3.101.190.84/".insteadOf "http://bb6f8136416e/"
    - git config --global http.sslVerify false
    - if (Test-Path ".git") { Remove-Item -Recurse -Force ".git" }
    - git clone --depth 20 http://3.101.190.84/root/terraform-maven.git temp-repo
    - Move-Item temp-repo/.git . -Force
    - Remove-Item -Recurse -Force temp-repo
    - git reset --hard HEAD

build:
  <<: *setup_git
  stage: build
  tags:
    - windows
    - maven
    - java
  script:
    - mvn clean compile
  artifacts:
    paths:
      - target/

test:
  <<: *setup_git
  stage: test
  tags:
    - windows
    - maven
    - java
  script:
    - mvn test

deploy:
  stage: deploy
  tags:
    - windows
    - maven
    - java
  before_script:
    - echo "3.101.190.84 bb6f8136416e" >> C:\Windows\System32\drivers\etc\hosts
  script:
    - mvn package -DskipTests
    - |
      if (Test-Path "target\*.war") {
        $warFile = Get-ChildItem target\*.war | Select-Object -First 1
        echo "Deploying: $($warFile.Name)"
        scp -i pair08.pem target\*.war ${env:DEPLOY_USER}@${env:DEPLOY_SERVER}:/tmp/
        ssh -i pair08.pem ${env:DEPLOY_USER}@${env:DEPLOY_SERVER} "sudo docker cp /tmp/*.war tomcat:/usr/local/tomcat/webapps/"
        echo "Deployed to: http://${env:DEPLOY_SERVER}:8080/terraform-maven"
      }
  when: manual
  only:
    - main