stages:
  - build
  - test
  - package
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  DEPLOY_SERVER: "3.101.190.84" # Your EC2 instance
  DEPLOY_USER: "ec2-user" # EC2 default user
  DEPLOY_PATH: "/home/ec2-user/webapp" # Deployment path
  GIT_STRATEGY: "clone"
  GIT_CLEAN_FLAGS: "-ffdx"
  CI_REPOSITORY_URL: "http://3.101.190.84/root/terraform-maven.git"

cache:
  paths:
    - .m2/repository

build:
  stage: build
  tags:
    - windows
    - maven
    - java
  before_script:
    - git config --global url."http://3.101.190.84/".insteadOf "http://bb6f8136416e/"
    - git config --global http.sslVerify false
  script:
    - mvn clean compile
  artifacts:
    paths:
      - target/*.war

test:
  stage: test
  tags:
    - windows
    - maven
    - java
  before_script:
    - git config --global url."http://3.101.190.84/".insteadOf "http://bb6f8136416e/"
    - git config --global http.sslVerify false
  script:
    - mvn test

package:
  stage: package
  tags:
    - windows
    - maven
    - java
  before_script:
    - git config --global url."http://3.101.190.84/".insteadOf "http://bb6f8136416e/"
    - git config --global http.sslVerify false
  script:
    - mvn package
  artifacts:
    paths:
      - target/*.war

# Deploy to Tomcat on EC2 instance
deploy:
  stage: deploy
  tags:
    - windows
    - maven
    - java
  script:
    - echo "Deploying to Tomcat on $DEPLOY_SERVER..."
    - |
      if (Test-Path "target\*.war") {
        echo "WAR file found for deployment."
        $warFile = Get-ChildItem target\*.war | Select-Object -First 1
        echo "WAR file: $($warFile.Name)"
        
        # Copy WAR file to EC2 instance
        scp -i pair08.pem target\*.war ${env:DEPLOY_USER}@${env:DEPLOY_SERVER}:/tmp/
        
        # Deploy to Tomcat container
        ssh -i pair08.pem ${env:DEPLOY_USER}@${env:DEPLOY_SERVER} "sudo docker cp /tmp/*.war tomcat:/usr/local/tomcat/webapps/"
        
        echo "Deployment completed to: http://${env:DEPLOY_SERVER}:8080/maven-challenge"
      } else {
        echo "No WAR file found!"
        exit 1
      }
  artifacts:
    paths:
      - target/*.war
  only:
    - main
  when: manual
